.header {
  h1 {
    font-size: 50px;
    font-family: Aller;
    font-weight: bold;
    color: white;
    background-color: #5ba0c9;
    margin-top: 0px;
    margin-bottom: 0px;
    height: 177px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  //   p {
  //     text-align: center;
  //   }
}
