.main {
  font-family: Aller;
  margin-right: 47px;
  margin-left: 280px;
  margin-top: 60px;
  color: #727272;

  .image__row {
    display: flex;
    justify-content: center;
  }

  .image {
    font-size: 30px;
    border: 1px black solid;
    border-radius: 4px;
    // height: 492px;
    display: flex;
    justify-content: center;
    align-items: center;
    // background: url(../assets/entertainment_positive.png);
    height: 600px;
    width: 600px;

    // max-width: 500px;
    // max-height: 500px;
  }

  .image__component {
    width: 100%;
  }
  h2 {
    font-size: 40px;
  }

  h3 {
    font-size: 28px;
    margin-bottom: 52px;
    margin-top: 60px;
  }

  .image__component--margin {
    margin-right: 40px;
  }

  .image__description {
    font-size: 22px;
  }

  .card--flex {
    display: flex;
    justify-content: space-evenly;
  }
}

.data {
  font-family: Aller;
  color: #727272;
  margin-left: 280px;
  h3 {
    font-size: 40px;
    font-family: Aller;
    font-weight: bold;
    color: grey;
  }

  .data__number {
    font-size: 80px;
    font-family: Aller;
    font-weight: bold;
  }

  .data__status {
    font-family: Aller;
    font-weight: bold;
    font-size: 32px;
  }

  .card__card {
    display: flex;
    justify-content: space-evenly;
  }
}