@import "./partials/colors";
@import "./partials/fonts";

@import "./partials/header";
@import "./partials/main";

.margin--left {
  margin-left: 260px;
}
@import './partials/sideBar';
@import './partials/bottomHalf';

.main__page {
    display: flex;
    flex-direction: row;
}

// html {
//     font-family: aller;
// }

.page1 {
    margin-left: 103px;
    width: 100%;
}
// section {
//     margin-left: 103px;
// }

